#div-caja-3 {
    background-color: rgb(192, 230, 192);
}

.tamanho-mediano-letra {
    font-size: 25px;
    color: rgb(172, 9, 9);
}
.tamanho-grande-letra {
    font-size: 40px;
    color: rgb(148, 172, 9);
}
#divLista de frutas {
    background-color: rgb(177, 243, 126);
}