body
{
    background: url('./background\ Zelda\ proyect.jpg') no-repeat center center fixed;
    background-size:cover;
    text-align: center;
    color: rgb(5, 5, 5);
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #034285;
    color: rgb(249, 247, 247);
    border-radius: 5px;
}
button:hover
{
    background-color: rgb(12, 130, 233);
}
button:active {
    background-color: #0b0b0b;
    }
    
  