body
{
    background-image:url(./imagen\ test.jpeg);
    background-image: -o-repeating-linear-gradient();
    background-size: cover;
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #034285;
    color: rgb(249, 247, 247);
    border-radius: 5px;
}
button:hover
{
    background-color: rgb(12, 130, 233);
}